@import "../../variables.scss";

.ui.list > .item.selected-item {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;

  .selected-item__info {
    width: 70%;
    float: left;
  }

  .selected-item__control {
    width: 30%;
    float: right;

    .button:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($focus-red, 0.4);
    }
  }

  .image {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  &:hover {
    transition: 0.5s ease;
    background-color: $hover-green;
    color: white;
  }
}
