@import "../../variables.scss";

.price-calculator-root {
  display: flex;
  min-height: 400px;
  height: 100%;
  background-color: $background-green;

  // Actually Menu Screen and Placeholder should have the same layout
  .grocery-items-menu-wrapper,
  .menu-placeholder-wrapper {
    width: 80%;
    overflow-y: auto;
  }

  .selection-side-menu-wrapper {
    width: 20%;
    min-width: 250px;
  }
}
