@import "../../variables.scss";

.grocery-items-menu-wrapper > .item-card-wrapper {
  min-height: 320px;
  min-width: 250px;
  margin: 10px 15px;

  .meta {
    color: black !important;
  }

  .sale-message {
    color: red !important;
  }

  .image {
    height: 250px;
    width: 250px;
  }
}
